*~
**.db
**.DS_Store
**.pyc
*.pyc
*.swp
*.egg-info
build
dist
.coverage
nosetests.xml
lettucetests.xml
coverage.xml
ghostdriver.log
.harvest
pep8.report
.env
*.sqlite
node_modules
.idea
.noseids

#Local settings
kubernetes/deploy_files

scripts/log
scripts/reports
scripts/tmp

# All public files
auth/django/public/
